<div class="cat_words">
        <li>
                <a class="{% if request.resolver_match.kwargs.pk == 0  %}act_button_cat_words{% else %}button_cat_words{% endif %}"
                        href="{% url 'all_words:categories' pk=0 %}">All words
                </a>
        </li>
        {% for link in links_menu %}
        <li>
                <a class="{% if request.resolver_match.kwargs.pk == link.pk %}act_button_cat_words{% else %}button_cat_words{% endif %}"
                        href="{% url 'all_words:categories' link.pk %}">{{ link.name }}
                </a>
        </li>
        {% endfor%}
</div>