<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все слова</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <div class="menu">
        <div class="buttons">
            <a class="button" href="index.html">Переводчик</a>
            <a class="button" href="all_words.html">Все слова</a>
            <a class="button" href="training.html">Тренировка</a>
        </div>
    </div>

    <div class="all_words">
        <ol class="words">
            <li>слово - перевод</li>
            <li>слово - перевод</li>
            <li>слово - перевод</li>
            <li>слово - перевод</li>
            <li>слово - перевод</li>
            <li>слово - перевод</li>
            <li>слово - перевод</li>
            <li>слово - перевод</li>
            <li>слово - перевод</li>
            <li>слово - перевод</li>
        </ol>
    </div>


</body>

</html>