{% extends 'mainapp/base.html' %}
{% load static %}

{% block header %}
{% include 'mainapp/includes/inc_header.html' %}
{% endblock header %}


{% block content %}
<div class="all_words">

    {% include "mainapp/includes/inc_categories_word.html"%}

    <div class="list_words">
        {% for word in words %}
        <li><a href="">{{ word.eng_var|capfirst }} </a>- {{ word.rus_var|capfirst }}</li>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block footer %}
{% include 'mainapp/includes/inc_footer.html' %}
{% endblock footer %}

<!-- {% for word in words %}
<li>{{ word.eng }} - {{ word.rus }}</li>
{% endfor%} -->

<!-- <div class="block_cont">
    <div class="all_words">
        <ol class="words">
            {% for word in words %}
            <li><a href="">{{ word.eng_var|capfirst }} </a>- {{ word.rus_var|capfirst }}</li>
            {% endfor %}
        </ol>
    </div>
</div> -->