{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
<div class="menu">
    <div class="buttons">
        {% include 'mainapp/includes/inc_menu.html' %}
    </div>
</div>
{% endblock menu%}


{% block content %}
<div class="all_words">
    <ol class="words">
        <li>слово - перевод</li>
        <li>слово - перевод</li>
        <li>слово - перевод</li>
        <li>слово - перевод</li>
        <li>слово - перевод</li>
        <li>слово - перевод</li>
        <li>слово - перевод</li>
        <li>слово - перевод</li>
        <li>слово - перевод</li>
        <li>слово - перевод</li>
    </ol>
</div>
{% endblock content%}